.photo-nako {
    width: 325px;
    object-fit: scale-down;
    border-radius: 2%;
}
.py-5 {
    background-image: url("images/bg.gif");
}
.cirlcle-friends {
    width: 325px;
    object-fit: scale-down;
    border-radius: 2%;
}
.mb-4{
    color: white;
}
.form-label{
    color: white;
}
.forms {
    background-image: url(images/1pw.gif);
    filter: blur("50%");
    border-radius: 1%;
}
