.photo-nako {
    width: 325px;
    border-radius: 2%;
    height: 440px;
}
body, .py-5 {
    background-color: #212529;
}
.header1 {
    background-color: #ADE1FB;
}
.weatherApp {
    width: 325px;
    border-radius: 2%;
    height: 440px;
}
.mb-4{
    color: white;
}
.form-label{
    color: white;
}
.forms {
    background-image: url("1pw.gif");
    filter: blur("50%");
    border-radius: 1%;
}
.containerxv1 {
        background-color: #222;
        padding: 20px;
        border-radius: 10px;
        gap: 20px;
        width: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        height: 20vh;
        margin: 5% auto;
}
.skill {
    display: flex;
    align-items: center;
}
.skill-name {
    font-weight: bold;
    width: 22%;
    color: white;
}
.progress-bar {
    width: 60%;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.progress {
    height: 8px;
    background-color: #ff0055;
}
.skill-percentage {
    width: 15%;
    text-align: right;
    color: white;
}
footer {
    background-color: white;
    text-align: center;
    font-size: 15px;
}
.socmed {
    background-color:#495057;
    text-align: center;
}
.bg-black {
    background-color: black;
}
.eCommerse {
    height: 440px;
    width: 330px;
    border-radius: 3%;
}
#profile {
    background-color: #2b2e31;
}
.akongpicture {
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 10%;
    width: 400px;
    height: auto;
    border-radius: 10px;
}
.textx {
    text-align: center;
    color: white;
}
.card-title:hover {
    background: #495057;
}
.btn:hover {
    background: #2b2e31;
}

.mt-10 {
    margin-top: 10rem;
}